body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3dbc3;
}
header {
  background-color: #ff6f61;
  color: white;
  padding: 1rem;
  text-align: center;
}
nav {
  background-color: #ffab91;
  padding: 1rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cupcake {
  background-color: #ffe0b2;
  border: 1px solid #ffcc80;
  border-radius: 10px;
  padding: 1.2rem;
  margin: 1.2rem;
  width: 100%;
  max-width: 360px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cupcake img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}
footer {
  background-color: #ff6f61;

  text-align: center;
  padding: 1rem;
  background-color: #f7bff7be;
}
.buton {
  position: relative;
  padding: 8px 10px;
  border-radius: 13px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  border: none;
  outline: none;
  background: #ffcc80;
  transition: 0.5s;
}
.buton:hover {
  background: #ff6f61;
}
@media (min-width: 600px) {
  .cupcake {
    width: calc(60% - 2.4rem);
  }
}
@media (min-width: 900px) {
  .cupcake {
    width: calc(40% - 2.4rem);
  }
}
@media (min-width: 1200px) {
  .cupcake {
    width: calc(27.78% - 2.4rem);
  }
}
