@if (cpks.length>0) {
<ol>
  @for (cpk of cpks; track $index) {
  <li>
    <div class="cupcake">
      <img
        src="http://localhost:2000/imagenes/{{ cpk.imagen }}"
        alt="Mapcake"
      />
      <h4>{{ cpk.nombre }}</h4>
      <p>{{ cpk.descripcion }}</p>
      <h5>Precio: ${{ cpk.precio }}</h5>

      <button
        type="button"
        class="btn btn-warning"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="handleUpdate(cpk)"
      >
        Update
      </button>

      <button
        type="button"
        class="btn btn-danger"
        (click)="handleDelete(cpk._id)"
      >
        Delete
      </button>
    </div>
  </li>
  }
</ol>

}@else {
<p>No existen Mapcakes para mostrar</p>
}
<hr />
<div class="d-lg-flex justify-content-center">
  <form (ngSubmit)="handleSubmit()" class="py-5 col-lg-6">
    <div class="mb-3">
      <label for="inputName" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        aria-describedby="nameHelp"
        name="nombre"
        [(ngModel)]="nombre"
      />
    </div>
    <div class="mb-3">
      <label for="inputSabor" class="form-label">Descripcion</label>
      <input
        type="text"
        class="form-control"
        id="inputSabor"
        aria-describedby="descripcionHelp"
        name="color"
        [(ngModel)]="descripcion"
      />
    </div>

    <div class="mb-3">
      <label for="inputPrecio" class="form-label">Precio</label>
      <input
        type="number"
        class="form-control"
        id="inputPrecio"
        aria-describedby="precioHelp"
        name="precio"
        [(ngModel)]="precio"
      />
    </div>
    <div class="mb-3">
      <label for="inputImage" class="form-label">Imagen</label>
      <input
        type="file"
        class="form-control"
        id="inputimagen"
        aria-describedby="imagenHelp"
        (change)="inputFile($event)"
      />
    </div>
    <button type="submit" class="btn btn-primary bg-my-color col-12">
      Crear Mapcake
    </button>
  </form>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Actualiza tus Mapcakes
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        @if (cpkselected) {

        <form (ngSubmit)="handleActualizar()" class="py-5 col-lg-6">
          <div class="mb-3">
            <label for="inputImage" class="form-label">ID</label>
            <input
              type="text"
              class="form-control"
              id="inputimagen"
              aria-describedby="imagenHelp"
              [value]="cpkselected?.cpk._id"
              disabled
            />
          </div>
          <div class="mb-3">
            <label for="inputName" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="inputName"
              aria-describedby="nameHelp"
              name="nombre"
              [(ngModel)]="nombre"
            />
          </div>
          <div class="mb-3">
            <label for="inputDescripcion" class="form-label">Descripcion</label>
            <input
              type="text"
              class="form-control"
              id="inputDescripcion"
              aria-describedby="descripcionHelp"
              name="descripcion"
              [(ngModel)]="descripcion"
            />
          </div>
          <div class="mb-3">
            <label for="inputPrecio" class="form-label">Precio</label>
            <input
              type="number"
              class="form-control"
              id="inputPrecio"
              aria-describedby="precioHelp"
              name="precio"
              [(ngModel)]="precio"
            />
          </div>
          <button type="submit" class="btn btn-primary bg-my-color col-12">
            Actualizar Mapcake
          </button>
        </form>

        }
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
