<body>
  <form class="row g-3" (ngSubmit)="handeleSubmit()">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre de usuario</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail4"
        name="nombreDeUsuario"
        [(ngModel)]="nombreDeUsuario"
      />
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">dirección</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="Calle# num "
        name="direccion"
        [(ngModel)]="direccion"
      />
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Dirección 2</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress2"
        placeholder="Apartmento, studio o casa"
        name="direccion2"
        [(ngModel)]="direccion2"
      />
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Ciudad</label>
      <input
        type="text"
        class="form-control"
        id="inputCity"
        name="ciudad"
        [(ngModel)]="ciudad"
      />
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</body>
