<body>
  <div class="heading">
    <h1>Sobre Nosotros</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et distinctio
      necessitatibus, labore reiciendis commodi illo aperiam! Odit corrupti
      molestiae odio tenetur, explicabo veritatis beatae. Eum consectetur
      ratione modi eveniet molestias?
    </p>
  </div>
  <div class="container">
    <section class="about">
      <div class="about-image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPjBtOXCG1cKrAKQA0hW0wm3uNbHnLso9fIw&usqp=CAU"
          rel="imagen del nosotros"
        />
      </div>
      <div class="about-content">
        <h2></h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          maiores voluptas dolore! Modi ipsam, aut error, iusto dolores ducimus
          saepe expedita minus optio molestiae, quaerat perspiciatis reiciendis.
          Sint, voluptas quo?
        </p>
      </div>
    </section>
  </div>
</body>
