<body>
  <div class="heading">
    <h1>Nosotros</h1>
    <p>
      ¡Bienvenidos a Mapcakes! En Mapcakes, creemos que cada momento especial
      merece un cupcake extraordinario. Nuestra pasión por la repostería y el
      amor por los detalles nos inspiran a crear cupcakes que no solo deleitan
      el paladar, sino que también alegran el corazón.
    </p>
  </div>
  <div class="container">
    <section class="about">
      <div class="about-image">
        <img
          src="https://i.blogs.es/4cc7fe/foto-apertura-/450_1000.jpg"
          rel="imagen del nosotros"
        />
      </div>
      <div class="about-content">
        <h2><h3>Nuestra Historia</h3></h2>
        <p>
          Todo comenzó con una simple pero poderosa idea: transformar la
          repostería tradicional en una experiencia única y memorable. Desde
          nuestra primera hornada, hemos trabajado incansablemente para
          perfeccionar nuestras recetas, utilizando solo ingredientes frescos y
          de la más alta calidad. Nuestra misión es ofrecer a nuestros clientes
          cupcakes que sean tan hermosos como deliciosos.
        </p>
        <hr />
        <hr />
        <h3>Nuestro Compromiso</h3>
        <p>
          En Mapcakes, nos comprometemos a la excelencia. Cada cupcake es
          elaborado a mano, con dedicación y cuidado, para asegurar que cada
          bocado sea una explosión de sabor. Nuestro equipo de talentosos
          pasteleros trabaja con creatividad e innovación, siempre buscando
          nuevas maneras de sorprender y encantar a nuestros clientes.
        </p>
      </div>
    </section>
  </div>

  <div class="container">
    <section class="about">
      <div class="about-image">
        <img
          src="https://i.blogs.es/4cc7fe/foto-apertura-/450_1000.jpg"
          rel="imagen del nosotros"
        />
      </div>
      <div class="row">
        <h2><h3>Variedad y Creatividad</h3></h2>
        <p>
          Ofrecemos una amplia variedad de sabores y diseños, desde los clásicos
          favoritos hasta creaciones únicas y personalizadas para cualquier
          ocasión. Ya sea que estés celebrando un cumpleaños, una boda, un
          evento corporativo o simplemente quieras darte un capricho, tenemos el
          cupcake perfecto para ti.
        </p>
      </div>
    </section>
  </div>
</body>
