<body>
  <header>
    <div class="navbar">
      <div class="logo">
        <a>Mapcakes Bakery</a>
      </div>
      <ul class="links">
        <li><a class="size" routerLink="/inicio">Home</a></li>
        <li><a class="size" routerLink="/nosotros"> Nosotros</a></li>
      </ul>
      <a class="action_btn" routerLink="/registrarse"> Registrarse</a>
    </div>

    <div class="dropdown_menu open">
      <li><a routerLink="/inicio">Home</a></li>
      <li><a routerLink="/nosotros"> Nosotros</a></li>
      <li>
        <a class="action_btn" routerLink="/registrarse"> Registrarse</a>
      </li>
    </div>
  </header>
</body>
<!-- <nav
  class="navbar navbar-expand-lg bg-my-color navegation"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mapcakes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="inicio" class="nav-link">Home</a>
        <a routerLink="privado" class="nav-link">Tienda</a>
      </div>
    </div>
  </div>
  <div class="pe-3 text-white">
    @if (loginservice.isLogin()) {
    <button type="button" class="btn btn-link" (click)="loginservice.logOut()">
      Logout
    </button>
    } @else {
    <a routerLink="login" class="nav-link">Login</a>
    }
  </div>
</nav> -->
