<h1>Bienvenido a Mapcakes bakery</h1>

<nav
  class="navbar navbar-expand-lg bg-my-color navegation"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mapcakes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="inicio" class="nav-link">Home</a>
        <a routerLink="privado" class="nav-link">Tienda</a>
      </div>
    </div>
  </div>
  <div class="pe-3 text-white">
    @if (loginservice.isLogin()) {
    <button type="button" class="btn btn-link" (click)="loginservice.logOut()">
      Logout
    </button>
    } @else {
    <a routerLink="login" class="nav-link">Login</a>
    }
  </div>
</nav>

<!-- <nav class="navegation">
  <div class="contenedorRutas">
    <div><a class="rutas" routerLink="/inicio">Home</a></div>
    <div><a class="rutas" routerLink="/productos"> Productos</a></div>
    <div><a class="rutas" routerLink="servicios">Servicios</a></div>
    <div><a class="rutas" routerLink="/nosotros"> Nosotros</a></div>
    <div><a class="rutas" routerLink="/contacto"> Contacto</a></div>
    <div><a class="rutas" routerLink="/registrarse"> Registrarse</a></div>
    <div><a class="rutas" routerLink="/login"> Iniciar sesion</a></div>
    <div><a class="rutas" routerLink="/privado"> Privado</a></div>
  </div>
</nav> -->
