<body>
  <div class="wraper">
    <form [formGroup]="credentialsForm" (ngSubmit)="handlesubmit()">
      <h1>Login</h1>
      <div class="inputBox">
        <input
          type="email"
          placeholder="Username"
          required
          formControlName="nombre"
        />
        <i class="bx bx-user-circle"></i>
      </div>
      <div class="inputBox">
        <input
          type="password"
          placeholder="password"
          required
          formControlName="contrasenia"
        />
        <i class="bx bxs-lock"></i>
      </div>
      <div class="remember">
        <label><input type="checkbox" />Recordarme</label>
        <a href="#">¿Olvidaste la contraseña?</a>
      </div>
      <button type="submit" class="btn" value="iniciar-sesion">Login</button>
      <div class="register-link">
        <p>¿No tienes una cuenta? <a href="#">registrate</a></p>
      </div>
    </form>
  </div>
</body>

<!-- <form [formGroup]="credentialsForm" (ngSubmit)="handlesubmit()">
  <input type="text" placeholder="Username" formControlName="nombre" />
  <input type="password" placeholder="Password" formControlName="contrasenia" />
  <input type="submit" value="iniciar-sesion" />
</form> -->
<!-- <app-iniciar-sesion></app-iniciar-sesion> -->
