* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffcc80;
}

.wraper {
  width: 420px;
  background: #f0e6dc;
  border-radius: 10px;
  padding: 30px 40px;
}

.wraper h1 {
  font-size: 36px;
  text-align: center;
}

.wraper .inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}

.inputBox i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.wraper .remember {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}

.remember label input {
  margin-right: 3px;
}

.remember a {
  text-decoration: none;
}
.remember a:hover {
  text-decoration: underline;
}

.wraper .btn {
  width: 100%;
  height: 45px;
  background: #e1b275;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.wraper .register-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
